<div class="container">
  <div>
    <div class="page-title">History</div>
    <span style="padding-right: 5px">
      <button mat-button (click)="onSaveDay()">Save Day</button>
    </span>
    <span>
      <button mat-button (click)="onClearLastDay()">Clear Last Day</button>
    </span>
  </div>

  <div style="padding-top:10px;">
    <div class="page-title">Current Day</div>
    <div class="days-tree">
      <app-tree-view [treeData]="mealsTree"></app-tree-view>
    </div>
  </div>

  <div>
    <div class="page-title">Previous Days</div>
    <div class="days-tree">
      <app-tree-view [treeData]="daysTree"></app-tree-view>
    </div>
  </div>
</div>
