<table class="table table-condensed table-hover grid">
    <th>Name</th>
    <th>Calories</th>
    <th>Protein</th>
    <th>Fat</th>
    <th>Carbs</th>
    <th>Sugar</th>
    <th>ServingSize</th>
    <th>ServingName</th>
    <th>Fiber</th>
    <th>Sodium</th>
    <th>Potassium</th>
    <th>IsActive</th>
    <tr *ngFor="let food of data" [contextMenu]="basicMenu" [contextMenuSubject]="food">
        <td><input #name class="cell" [ngClass]="{active: food.clicked}" [value]="food.name" [readonly]="!food.clicked" (keydown)="eventHandler($event, food, 'name', name)" /></td>
        <td><input #calories class="cell" [ngClass]="{active: food.clicked}" [value]="food.calories" [readonly]="!food.clicked" (keydown)="eventHandler($event, food, 'calories', calories)" /></td>
        <td><input #protein class="cell" [ngClass]="{active: food.clicked}" [value]="food.protein" [readonly]="!food.clicked" (keydown)="eventHandler($event, food, 'protein', protein)" /></td>
        <td><input #fat class="cell" [ngClass]="{active: food.clicked}" [value]="food.fat" [readonly]="!food.clicked" (keydown)="eventHandler($event, food, 'fat', fat)" /></td>
        <td><input #carbs class="cell" [ngClass]="{active: food.clicked}" [value]="food.carbs" [readonly]="!food.clicked" (keydown)="eventHandler($event, food, 'carbs', carbs)" /></td>
        <td><input #sugar class="cell" [ngClass]="{active: food.clicked}" [value]="food.sugar" [readonly]="!food.clicked" (keydown)="eventHandler($event, food, 'sugar', sugar)" /></td>
        <td><input #servingSize class="cell" [ngClass]="{active: food.clicked}" [value]="food.servingSize" [readonly]="!food.clicked" (keydown)="eventHandler($event, food, 'servingSize', servingSize)" /></td>
        <td><input #servingName class="cell" [ngClass]="{active: food.clicked}" [value]="food.servingName" [readonly]="!food.clicked" (keydown)="eventHandler($event, food, 'servingName', servingName)" /></td>
        <td><input #fiber class="cell" [ngClass]="{active: food.clicked}" [value]="food.fiber" [readonly]="!food.clicked" (keydown)="eventHandler($event, food, 'fiber', fiber)" /></td>
        <td><input #sodium class="cell" [ngClass]="{active: food.clicked}" [value]="food.sodium" [readonly]="!food.clicked" (keydown)="eventHandler($event, food, 'sodium', sodium)" /></td>
        <td><input #potassium class="cell" [ngClass]="{active: food.clicked}" [value]="food.potassium" [readonly]="!food.clicked" (keydown)="eventHandler($event, food, 'potassium', potassium)" /></td>
        <td><input type="checkbox" [checked]="food.isActive" (change)="checkBoxChangeHandler(food, 'isActive')" /></td>
    </tr>
</table>

<context-menu>
    <ng-template contextMenuItem (execute)="$event.item.clicked = true">
        Edit
    </ng-template>
    <ng-template contextMenuItem (execute)="$event.item.clicked = false">
        Cancel
    </ng-template>
</context-menu>