<table class="table table-condensed table-hover grid">
    <th>Name</th>
    <th>Calories</th>
    <th>Protein</th>
    <th>Fat</th>
    <th>Carbs</th>
    <th>Sugar</th>
    <th>ServingSize</th>
    <th>ServingName</th>
    <th>Fiber</th>
    <th>Sodium</th>
    <th>Potassium</th>
    <tr *ngFor="let food of data" [contextMenu]="basicMenu" [contextMenuSubject]="food" [ngClass]="{highlightedRow: isHighlighted(food)}"
        (keypress)="eventHandler($event, food)">
        <td><input class="cell" [ngClass]="{active: isHighlighted(food)}" [(ngModel)]="food.name" [readonly]="!isHighlighted(food)" /></td>
        <td><input class="cell" [ngClass]="{active: isHighlighted(food)}" [(ngModel)]="food.calories" [readonly]="!isHighlighted(food)" /></td>
        <td><input class="cell" [ngClass]="{active: isHighlighted(food)}" [(ngModel)]="food.protein" [readonly]="!isHighlighted(food)" /></td>
        <td><input class="cell" [ngClass]="{active: isHighlighted(food)}" [(ngModel)]="food.fat" [readonly]="!isHighlighted(food)" /></td>
        <td><input class="cell" [ngClass]="{active: isHighlighted(food)}" [(ngModel)]="food.carbs" [readonly]="!isHighlighted(food)" /></td>
        <td><input class="cell" [ngClass]="{active: isHighlighted(food)}" [(ngModel)]="food.sugar" [readonly]="!isHighlighted(food)" /></td>
        <td><input class="cell" [ngClass]="{active: isHighlighted(food)}" [(ngModel)]="food.servingSize" [readonly]="!isHighlighted(food)" /></td>
        <td><input class="cell" [ngClass]="{active: isHighlighted(food)}" [(ngModel)]="food.servingName" [readonly]="!isHighlighted(food)" /></td>
        <td><input class="cell" [ngClass]="{active: isHighlighted(food)}" [(ngModel)]="food.fiber" [readonly]="!isHighlighted(food)" /></td>
        <td><input class="cell" [ngClass]="{active: isHighlighted(food)}" [(ngModel)]="food.sodium" [readonly]="!isHighlighted(food)" /></td>
        <td><input class="cell" [ngClass]="{active: isHighlighted(food)}" [(ngModel)]="food.potassium" [readonly]="!isHighlighted(food)" /></td>
    </tr>
</table>

<context-menu>
    <ng-template contextMenuItem (execute)="rowClicked($event.item)">
        Edit
    </ng-template>
</context-menu>