.container{
  margin: auto;
  width: 90%;
}

.page-title{
    margin: 10px 0 10px 0;
    font-size: 24px;
    font-family: Cambria, Cochin, Georgia, Times, 'Times New Roman', serif
}

.mat-tree-node{
  min-height:25px;
  height:25px;
}

.example-tree-invisible {
  display: none;
}

.example-tree ul,
.example-tree li {
  margin-top: 0;
  margin-bottom: 0;
  list-style-type: none;
}

.row{
  padding-top: 15px;
}

.mat-button{
  background-color: lightgray;
  width:150px;
}

.button{
  padding: 0 5px 0 0
}