<div class="container">

  <div class="page-title">Saved Meals</div>
  <div class="row">
    <span class="button">
      <button mat-button (click)="onSaveDay()">Save Day</button>
    </span>
    <span class="button">
      <button mat-button (click)="onClearLastDay()">Clear Last Day</button>
    </span>
  </div>
  <div style="padding-top:30px">
    <mat-tree [dataSource]="dataSource" [treeControl]="treeControl">
      <mat-tree-node *matTreeNodeDef="let node" matTreeNodeToggle matTreeNodePadding>
        <button mat-icon-button disabled></button>
        {{node.filename}} : {{node.type}}
      </mat-tree-node>

      <mat-tree-node *matTreeNodeDef="let node;when: hasChild" matTreeNodePadding>
        <button mat-icon-button matTreeNodeToggle [attr.aria-label]="'toggle ' + node.filename">
          <mat-icon class="mat-icon-rtl-mirror">
            {{treeControl.isExpanded(node) ? 'expand_more' : 'chevron_right'}}
          </mat-icon>
        </button>
        {{node.filename}}{{node.type}}
      </mat-tree-node>
    </mat-tree>
  </div>

  <div class="row">
    <div class="page-title">History</div>

    <div class="row">
      <div *ngFor="let day of days?.slice().reverse()">
        {{day.timestamp | date:'EEEE, MMMM d'}}: {{day.calories}} calories
      </div>
    </div>
  </div>

</div>