<div class="container">
    <div class="row">
        <div id="functions" class="col-md-3 form-inline">
            <h4>Functions</h4>
            <div class="row">
                <button class="btn btn-default" ng-click="vm.addDay()">Add Day</button>
            </div>
            <div class="row">
                <button class="btn btn-default" ng-click="vm.clearDay()">Clear Day</button>
            </div>
            <div class="row">
                <button class="btn btn-default" ng-click="vm.testing()">Testing</button>
            </div>
        </div>
    </div>
    <div class="row">
        <div id="dataEntry" class="col-md-3 form-inline">
            <form>
                <div class="row">
                    <h4>Enter Calories</h4>
                    <label class="">Food:</label>
                    <select class="form-control" ng-change="vm.dropDownUpdate(currentDropdownFoodId)" ng-options="item.Id as item.Name for item in vm.nutritionData" ng-model="currentDropdownFoodId"></select>
                </div>
                <div class="row">
                    <label>Calories:</label>
                    <input class="form-control" type="number" ng-model="finalCalories" />
                </div>
                <div class="row">
                    <button class="btn btn-default" ng-click="vm.addFoodFinal(currentDropdownFoodId, finalCalories)">Add Food</button>
                    <button class="btn btn-default" ng-click="vm.saveDay()">Save Day</button>
                </div>
            </form>
        </div>
    </div>
    <div class="row">
        <div class="col-md-12">
            <div class="row">
                <span class="h4" style="padding-right: 15px">Total: {{vm.currentDay.Total}}</span>
                <span class="h4" style="padding-right: 15px">Remaining: {{2000 - vm.currentDay.Total}}</span>
                <span class="h4" style="padding-right: 15px">Goal: 2000</span>
                <table class="table">
                    <tr ng-repeat="item in vm.currentDay.Meals">
                        <td ng-repeat="subItem in item">
                            {{subItem | foodIdFilter}}
                        </td>
                    </tr>
                </table>
            </div>
        </div>
    </div>
    <div class="row">

    </div>
    <div class="row">
        <div class="row">
            <div class="centered">
                <label>Message</label>
                {{message}}

            </div>
        </div>
        <div class="row">
            <div class="centered">
                <label>Data</label>
                {{data}}
            </div>
        </div>
    </div>
</div>