<div class="container">
    <div class="row">
        <div id="dataEntry" class="col-md-3 form">
            <form>
                <div class="row">
                    <div class="col-md-12">
                        <h4>Enter Calories</h4>
                        <label class="">Food:</label>
                        <select class="form-control" ng-change="vm.dropDownUpdate(vm.dropDownFoodId)" ng-options="item.Id as item.Name for item in vm.nutritionData" ng-model="vm.dropDownFoodId"></select>
                    </div>
                </div>
                <div class="row">
                    <div class="col-xs-6">
                        <label>Calories:</label>
                        <input class="form-control" type="number" ng-model="vm.activeFood.Calories" ng-change="vm.updateServing(vm.activeFood.Id, vm.activeFood.Calories)" />
                    </div>
                    <div class="col-xs-6">
                        <label>Serving Size:</label>
                        <input class="form-control" type="number" ng-model="vm.activeFood.ServingSize" ng-change="vm.updateCalories(vm.activeFood.Id, vm.activeFood.ServingSize)" />
                    </div>
                </div>
                <div class="row">
                    <div class="col-md-12">
                        <button class="btn btn-default" ng-click="vm.addFood(vm.activeFood.Id, vm.activeFood.Calories)">Add Food</button>
                        <button class="btn btn-default" ng-click="vm.saveDay()">Save Day</button>
                    </div>
                </div>
            </form>
        </div>
    </div>
    <div id="nextMeal" class="row" ng-show="vm.nextMeal">
        <div class="col-md-12">
            <span class="h4">Current Meal</span>
            <div class="table-responsive">
                <table class="table">
                    <tr ng-repeat="item in vm.nextMeal.mealEntries">
                        <td>
                            {{item | foodIdFilter}}
                        </td>
                    </tr>
                </table>
            </div>
            <button class="btn btn-default" ng-click="vm.clearNextMeal()">Clear Meal</button>
        </div>
    </div>
    <div id="currentDay" class="row">
        <div class="col-md-12">
            <span class="h4" style="padding-right: 15px">Total: {{vm.currentDay.Total + vm.nextMeal.calories}}</span>
            <span class="h4" style="padding-right: 15px">Remaining: {{2000 - vm.currentDay.Total - vm.nextMeal.calories}}</span>
            <span class="h4" style="padding-right: 15px">Goal: 2000</span>
            <div class="table-responsive">
                <table class="table">
                    <tr ng-repeat="item in vm.currentDay.Meals">
                        <td ng-repeat="subItem in item">
                            {{subItem | foodIdFilter}}
                        </td>
                    </tr>
                </table>
            </div>
        </div>
    </div>
    <div id="macros" class="row">
        <div class="col-md-12">
            <span class="h4">Macros</span>
            <div class="table-responsive">
                <table class="table">
                    <tr>
                        <th>Protein</th>
                        <th>Carbs</th>
                        <th>Fats</th>
                    </tr>
                    <tr>
                        <td>{{vm.dayTotals.Protein}}</td>
                        <td>{{vm.dayTotals.Carbs}}</td>
                        <td>{{vm.dayTotals.Fat}}</td>
                    </tr>
                </table>
            </div>
        </div>
    </div>
    <div id="functions" class="row">
        <div class="col-md-3">
            <h4>Functions</h4>
            <button class="btn btn-default" ng-click="vm.addDay()">Add Day</button>
            <button class="btn btn-default" ng-click="vm.clearDay()">Clear Day</button>
            <button class="btn btn-default" ng-click="vm.deleteInvalidDays()">Prune Days</button>
        </div>
    </div>
    <div class="response">
        <div class="row">
            <div class="col-md-3">
                <label>Message</label>
                {{vm.debugObj.message}}

            </div>
        </div>
        <div class="row">
            <div class="col-md-12">
                <label>Data</label>
                {{vm.debugObj.data}}
            </div>
        </div>
    </div>
</div>
