<div class="container">
  <div class="row">
    <div class="col-12">
      <h4>Nutrition History</h4>
      <x-chartist [data]="historicalData" [type]="lineChartTypeName"></x-chartist>
    </div>
  </div>
  <div class="row row-padding">
    <div class="col-4">
      <h4>Avg: {{nutritionHistory?.average}}</h4>
    </div>
    <div class="col-4">
      <h4>Min: {{nutritionHistory?.min}}</h4>
    </div>
    <div class="col-4">
      <h4>Max: {{nutritionHistory?.max}}</h4>
    </div>
  </div>
  <h4 class="row-padding">Meal Timing</h4>
  <div class="row">
    <div class="col-3">
      <select class="form-control forms" [ngModel]="selectedDay" (ngModelChange)="mealTimingDateChanged($event)">
        <option *ngFor="let day of days" [ngValue]="day">{{day.date | date}}</option>
      </select>
    </div>
  </div>
  <div class="row">
    <div class="col-12">
      <x-chartist [data]="mealEntryData" [type]="lineChartTypeName" [options]="options"></x-chartist>
    </div>
  </div>
  <div class="row row-padding" style="height:400px">
    <div class="col-12">
      <h4>Macros</h4>
      <x-chartist [data]="macrosData" [type]="pieChartTypeName"></x-chartist>
    </div>
  </div>
</div>