<div class="container">
  <div class="row">
    <div class="col-12">
      <h4>Nutrition History</h4>
      <x-chartist id="testChart" [data]="historicalData" [type]="type" [options]="options"></x-chartist>
    </div>
  </div>
  <div class="row row-padding">
    <div class="col-4">
      <h4>Avg: {{nutritionHistory?.average}}</h4>
    </div>
    <div class="col-4">
      <h4>Min: {{nutritionHistory?.min}}</h4>
    </div>
    <div class="col-4">
      <h4>Max: {{nutritionHistory?.max}}</h4>
    </div>
  </div>
  <div class="row row-padding">
    <div class="col-12">
      <h4>Nutrition History</h4>
      <x-chartist id="testChart" [data]="mealEntryData" [type]="type" [options]="options"></x-chartist>
    </div>
  </div>
</div>