[Unit]
Description=health service
After=network.target
StartLimitIntervalSec=0

[Service]
EnvironmentFile=/root/src/health/server/.env
Type=simple
#Restart=always
#RestartSec=1
User=root
ExecStart=/root/.deno/bin/deno run --allow-all /root/src/health/server/main.ts

[Install]
WantedBy=multi-user.target
