.container{
    /* padding-top: 5px; */
    margin: auto;
    width: 90%;
}

.page-title{
    margin: 10px 0 10px 0;
    font-size: 24px;
    font-family: Cambria, Cochin, Georgia, Times, 'Times New Roman', serif
}

mat-card{
    text-align: center;
}

mat-card-header{
    display: inline;
}

mat-card-content{
    font-size: 30px;
}

table{
    margin: auto;
    width: 100%;
}

.foodInput input{
    cursor: pointer;
}

.half-page{
    width: 47.5%; 
    margin: 0 1.25% 0px 1.25%
}

.full-page{
    width: 97.5%; 
    margin: 0 1.25% 0px 1.25%
}

.inline-flex-container{
    display: flex;
    justify-content: center;
}

.pixel-icon-48{
    cursor:pointer;
    font-size:48px;
    width: 48px;
    height:48px;
    margin: 0 4% 0px 4%
}

.pixel-icon-32{
    cursor:pointer;
    font-size:32px;
    width: 32px;
    height:32px;
    margin: 0 6% 0px 6%
}

.icon-button{
    width: 64px;
}

.icon-container{
    width: 20%;
}

.noselect {
    -webkit-touch-callout: none; /* iOS Safari */
      -webkit-user-select: none; /* Safari */
       -khtml-user-select: none; /* Konqueror HTML */
         -moz-user-select: none; /* Firefox */
          -ms-user-select: none; /* Internet Explorer/Edge */
              user-select: none; /* Non-prefixed version, currently
                                    supported by Chrome and Opera */
  }

  .table-container{
    height: 200px;
    overflow: auto;
  }