

.row {
    padding: 0 0 10px 0;
}

    .row > label {
        width: 18%;
    }

.centered {
    margin-left: auto;
    margin-right: auto;
    width: 20%;
}

@media screen and (max-width: 768px) {
    button {
        margin-right: 15px;
    }
    .container {
        margin-left: 15px;
        margin-right: auto;
    }
}